/* Color Theme Swatches in Hex */
/* Font */
/* Other */
/*
t - typography
r - regular
b - bold
l - larger
s - smaller
*/
.tr {
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

.trs1 {
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-size: 0.875rem;
}

.trs2 {
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-size: 0.75rem;
}

.tbl1 {
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  font-size: 1.25rem;
}

.tb {
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.05rem;
  font-size: 1rem;
}

.tbs1 {
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  font-size: 0.875rem;
}

.tbs2 {
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  font-size: 0.75rem;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.header {
  background-color: #5c88bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 70vw;
  padding: 1rem;
}

.header__home-link {
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__post-link {
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header__signin-link {
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding-left: 2rem;
}

.header__logo {
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.header__logo:hover {
  -webkit-transform: scale(0.75) rotateY(180deg);
          transform: scale(0.75) rotateY(180deg);
}

.header__btn {
  border: 2px solid white;
  border-radius: 5px;
  background-color: unset;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.75rem;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.header__btn:hover {
  border-color: #f0968d;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70vw;
  padding: 2.5rem 5rem;
  margin: 0 auto;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  background-color: #f0968d;
}

.search__label {
  color: white;
  padding-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.search__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66%;
          flex: 1 1 66%;
}

.search__title-input {
  padding: 0.5rem;
  border: 2px solid #f0968d;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 2px white;
          box-shadow: 0px 0px 0px 2px white;
  color: #f0968d;
  margin: 0 0.5rem;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.search__title-input:hover {
  border-color: #5c88bd;
}

.search__title-input:focus {
  outline: none;
}

.search__title-input::-webkit-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__title-input:-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__title-input::-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__title-input::placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
}

.search__city-input {
  padding: 0.5rem;
  border: 2px solid #f0968d;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 2px white;
          box-shadow: 0px 0px 0px 2px white;
  color: #f0968d;
  margin: 0 0.5rem;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.search__city-input:hover {
  border-color: #5c88bd;
}

.search__city-input:focus {
  outline: none;
}

.search__city-input::-webkit-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__city-input:-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__city-input::-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__city-input::placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search__type-inputs {
  padding: 0.5rem;
  border: 2px solid #f0968d;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 2px white;
          box-shadow: 0px 0px 0px 2px white;
  color: #f0968d;
  margin: 0 0.5rem;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  padding: 0.55rem;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search__type-inputs:hover {
  border-color: #5c88bd;
}

.search__type-inputs:focus {
  outline: none;
}

.search__type-inputs::-webkit-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__type-inputs:-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__type-inputs::-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__type-inputs::placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__type-label {
  color: white;
}

.search__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.search__price-inputs {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search__price-input {
  padding: 0.5rem;
  border: 2px solid #f0968d;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 2px white;
          box-shadow: 0px 0px 0px 2px white;
  color: #f0968d;
  margin: 0 0.5rem;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.search__price-input:hover {
  border-color: #5c88bd;
}

.search__price-input:focus {
  outline: none;
}

.search__price-input::-webkit-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__price-input:-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__price-input::-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__price-input::placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.search__area-inputs {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search__area-input {
  padding: 0.5rem;
  border: 2px solid #f0968d;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 2px white;
          box-shadow: 0px 0px 0px 2px white;
  color: #f0968d;
  margin: 0 0.5rem;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.search__area-input:hover {
  border-color: #5c88bd;
}

.search__area-input:focus {
  outline: none;
}

.search__area-input::-webkit-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__area-input:-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__area-input::-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__area-input::placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.search__rooms-inputs {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search__rooms-input {
  padding: 0.5rem;
  border: 2px solid #f0968d;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 2px white;
          box-shadow: 0px 0px 0px 2px white;
  color: #f0968d;
  margin: 0 0.5rem;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  width: auto;
}

.search__rooms-input:hover {
  border-color: #5c88bd;
}

.search__rooms-input:focus {
  outline: none;
}

.search__rooms-input::-webkit-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__rooms-input:-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__rooms-input::-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__rooms-input::placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.search__additional-inputs {
  padding: 0.5rem;
  border: 2px solid #f0968d;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 2px white;
          box-shadow: 0px 0px 0px 2px white;
  color: #f0968d;
  margin: 0 0.5rem;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  padding: 0.55rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search__additional-inputs:hover {
  border-color: #5c88bd;
}

.search__additional-inputs:focus {
  outline: none;
}

.search__additional-inputs::-webkit-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__additional-inputs:-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__additional-inputs::-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__additional-inputs::placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__additional-label {
  color: white;
}

.search__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.search__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 1rem;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 0px;
          flex: 2 1 0;
  margin-right: 1rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.search__btn {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #f0968d;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 2px white;
          box-shadow: 0px 0px 0px 2px white;
  color: #f0968d;
  margin: 0 0.5rem;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  background-color: #f0968d;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.search__btn:hover {
  border-color: #5c88bd;
}

.search__btn:focus {
  outline: none;
}

.search__btn::-webkit-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__btn:-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__btn::-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__btn::placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.search__btn:hover {
  background-color: #5c88bd;
  border-color: #5c88bd;
  color: white;
}

.selectal-btn {
  padding: 0.5rem;
  border: 2px solid #f0968d;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 2px white;
          box-shadow: 0px 0px 0px 2px white;
  color: #f0968d;
  margin: 0 0.5rem;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  font-size: 0.875rem;
  padding: 0.2rem;
}

.selectal-btn:hover {
  border-color: #5c88bd;
}

.selectal-btn:focus {
  outline: none;
}

.selectal-btn::-webkit-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.selectal-btn:-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.selectal-btn::-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.selectal-btn::placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.selectal-btn:hover {
  border-color: #f0968d;
  color: #f0968d;
}

.selectal-selected-item {
  background: white;
}

.selectal-dropdown {
  padding: 0.5rem;
  border: 2px solid #f0968d;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 2px white;
          box-shadow: 0px 0px 0px 2px white;
  color: #f0968d;
  margin: 0 0.5rem;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.selectal-dropdown:hover {
  border-color: #5c88bd;
}

.selectal-dropdown:focus {
  outline: none;
}

.selectal-dropdown::-webkit-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.selectal-dropdown:-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.selectal-dropdown::-ms-input-placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.selectal-dropdown::placeholder {
  color: #f0968d;
  opacity: 1;
  font-weight: 400;
  letter-spacing: normal;
}

.selectal-dropdown-option {
  background: white;
  color: #f0968d;
}

.selectal-dropdown-option:hover {
  background: #f0968d;
  color: white;
}

.results__list {
  text-decoration: none;
  list-style: none;
  width: 70vw;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.results__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 200px;
  margin-top: 1rem;
  border: 3px solid #5c88bd;
  cursor: pointer;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.results__item:hover {
  border-color: #f0968d;
}

.results__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border: 3px solid #5c88bd;
  border-top: 0;
  background-color: white;
  color: #587aa3;
}

.results__descr {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify;
  text-align-last: left;
  padding: 1rem 2rem;
}

.results__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5c88bd;
  padding: 2rem;
  color: white;
}

.results__contact-username {
  padding-right: 1rem;
}

.results__img {
  width: 200px;
  min-width: 200px;
}

.results__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #5c88bd;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  color: white;
}

.results__info-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.results__info-main {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 0%;
          flex: 0 1 0%;
  border-top: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1rem;
}

.results__title {
  text-transform: uppercase;
  padding-bottom: 0.25rem;
}

.results__area, .results__rooms, .results__date {
  padding-right: 1rem;
}

.results__price {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 200px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e5f2a6;
  color: #587aa3;
}
/*# sourceMappingURL=style.css.map */